.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .cartItem {
    width: 700px;
    height: 250px;
    display: flex;
  
    align-items: center;
  
    border-radius: 25px;
    margin: 30px;
    box-shadow: 10px 10px rgba(166, 186, 13, 0.821);
  }
  
  .cartItem img {
    width: 200px;

  }
  
  .cartItem .description {
    width: 100%;
    font-size: 30px;
  }
  
  .countHandler input {
    width: 40px;
    text-align: center;
    font-weight: bolder;
  }
  
  .checkout button {
    width: 150px;
    height: 50px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
  }
  .checkoutpage{

    height: 430px;

   margin-left: 450px;
   margin-top: 50px;

  
  }
  .ctext{
    margin-left: 520px;
    color: green;
    opacity: 100%;
  }
  .cartempty{
    font-size: 50px;
    color: rgb(239, 165, 67);
   margin-top: 120px;
  }
  .subtotalp{
    padding: 10px;

    width: 150px;
    height: 50px;
    font-size: larger;
    font-weight: 400;
    background: green;
    border-radius: 25px;
    text-align: center;
  }